[submodule "streamlit"]
	path = streamlit
	url = https://github.com/whitphx/streamlit.git
[submodule "packages/kernel/py/tornado"]
	path = packages/kernel/py/tornado
	url = https://github.com/whitphx/tornado.git
