.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.logo {
  display: inline-block;
  margin: 0;
  width: 100%;
  margin: 1rem 0;
}

.heading {
  margin: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.list {
  padding: 0;
  margin: 0 1rem;
  flex-grow: 1;
}

$itemVerticalPadding: 0.5rem;
$indicator-width: 2px;

.listItem {
  list-style: none;
  padding: $itemVerticalPadding 0 $itemVerticalPadding 0.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border-left: $indicator-width solid #ddd;
}
.listItem:hover {
  background-color: #eee;
}

.list a {
  text-decoration: none;
}

.listItem.active {
  border-left: $indicator-width solid var(--c-primary-focus);
}

$kofi-widget-height: 65px; // See https://storage.ko-fi.com/cdn/scripts/overlay-widget.js that is embedded at index.html
.footer {
  margin: 1rem;
  margin-bottom: calc( 6px + $kofi-widget-height );
}

.githubIconLink {
  display: inline-flex;
  align-items: center;
  font-size: 36px;
}
.githubIconLink:hover {
  color: var(--c-primary-focus);
}
