.menu {
  padding: 1rem;
}

.heading {
  margin-top: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.list {
  padding: 0;
  margin: 0;
}

$itemVerticalPadding: 0.5rem;
$indicator-width: 2px;

.listItem {
  list-style: none;
  padding: $itemVerticalPadding 0 $itemVerticalPadding 0.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border-left: $indicator-width solid #ddd;
}
.listItem:hover {
  background-color: #eee;
}

.list a {
  text-decoration: none;
}

.listItem.active {
  border-left: $indicator-width solid var(--c-primary-focus);
}
