.resizableContainer {
  display: flex;
  max-height: 50vh;
}

.resizableScrollContainer {
  overflow: scroll;
}

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
}
