.resizableContainer {
  display: flex;
  background: var(--c-background);
  max-height: 50vh;
}

.resizableScrollContainer {
  overflow: scroll;
}

.footer {
  position: absolute;
  background: var(--c-background);
  width: 100%;
  left: 0;
  bottom: 0;
}
