@use "variables" as var;
@use "mixins";

.tabFrame {
  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 4px;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.05);
  border: rgba(0, 0, 0, 0.1) 1px solid;
  height: var.$tab-height;
}

.tabFrame:hover {
  background: initial;
}

.tabFrameSelected {
  background: initial;
  border-top: var(--c-primary) var.$tab-highlight-height solid;
  margin-top: -(var.$tab-highlight-height);
  border-bottom: none;
  position: relative
}

$tabPaddingLeft: 0.5rem;
$deleteButtonSpaceWidth: 1.2rem;

.tabButton {
  @include mixins.reset-button;

  width: 100%;
  height: 100%;
  padding-left: $tabPaddingLeft;
  padding-right: $deleteButtonSpaceWidth;
}

.deleteButtonContainer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-top: var.$tab-highlight-height;
  pointer-events: none;
}

.deleteButton {
  @include mixins.reset-button;

  font-size: 0.6rem;

  padding: 0.2rem;

  pointer-events: initial;
}
.deleteButton:not([disabled]):hover {
  color: var(--c-primary);
}

.selectedTab {
  display: inline-block;
  padding-left: $tabPaddingLeft;
  padding-right: $deleteButtonSpaceWidth;
}

.selectedTabInner {
  position: relative;
}

.fileNameForm {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.fileNameInput {
  @include mixins.reset-input;

  display: inline-block;
  width: 100%;
}
.fileNameInputError {
  border: red 1px solid;
}
