.App {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--c-background);
  color: var(--c-text);
}

a {
  color: var(--c-link);

  &:hover {
    color: var(--c-link);
  }

  &:visited {
    color: var(--c-link);
  }
}

.preview-iframe {
  width: 100%;
  flex-grow: 1;
  border: none;
}
