.colorSchemeSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: border-color 0.3s;

  input {
    display: none;
  }

  &[aria-selected=true] {
    color: var(--c-primary-focus)
  }
}
