.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.controlButtonGroup {
  display: flex;
}

.requirementsTabContainer {
  margin-left: 0.5rem;
}

.editorArea {
  flex-grow: 1;
  overflow: scroll;
}
