.tabFrame {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 4px;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.05);
  border: rgba(0, 0, 0, 0.1) 1px solid;
  height: 1.6rem;
}

.tabFrame:hover {
  background: initial;
}

.tabFrameSelected {
  background: initial;
  border-top: var(--c-primary) 2px solid;
  margin-top: -2px;
  border-bottom: none;
}

.tabButton {
  background: none;
  outline: none;
  border: 0;
  padding: 0;
  padding-left: 0.5rem;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}

.deleteButton {
  background: none;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0.2rem;
  font-size: 0.6rem;
  font-family: inherit;

  padding: 0.2rem;
}
.deleteButton:hover {
  color: var(--c-primary);
}

.selectedTab {
  position: relative;
  display: inline-block;
  padding-left: 0.5rem;
}

.fileNameForm {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-left: 0.5rem;
}

.fileNameInput {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
