.container {
  display: flex;
  padding: 0.5rem 0 0.5rem 1rem;
  justify-content: space-between;
}

.urlDisplay {
  display: inline-block;
  margin: 0 1rem;
}

.clipboardButtonContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.clipboardButton {
  padding: 0.2rem;
  border: #ddd 1px solid;
}

.copiedToast {
  position: absolute;
  justify-content: space-between;
  pointer-events: none;

  display: inline-block;
  text-align: center;
  font-size: 10px;
  color: var(--c-primary);
  border-radius: 0.4rem;
}

.displayBytes {
  margin-left: 0.4rem;
  font-size: small;
}

.innerContainer {
  display: flex;
  align-items: center;
}

.githubIconLink {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
}
.githubIconLink:hover {
  color: var(--c-primary-focus);
}

.logo {
  display: inline-block;
  margin: 0;
  height: 28px;
}
